/*
	- Colours
*/
$white: #fff;
$black: #000;
$salomie: #FED67B;
$tahitiGold: #E57922;

/*
	- Fonts
*/
$primary_font: 'montserratlight';
$header_font: 'montserratsemi_bold';

$instructions-margin: 5%;
$instructions-size: 90%;

/*
	- Sizes
*/
$max_height: 420px;